---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__urls-wrapper {
	button {
	  height: 50px !important;
	  min-width: 100px !important;
	}
 }
 
 #main {
	@include breakpoint($x-large) {
	  max-width: 1920px;
	}
 }
 
 .toc__menu {
	/* hide sub sub links on small screens*/
	li > ul li {
	  display: block;
	}
 }
  
.notice--warning, .notice--danger, .notice--info, .notice--success, .notice--primary, .notice, .toc, .author__name {
	font-size: 1rem !important;
	@include breakpoint($large) {font-size: .8rem !important;}
 }